---
import Layout from '../layouts/Layout.astro';
import Hero from  '../components/Hero.astro';
import Header from '../components/Header.astro';
import Codeground from '../components/Codeground.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<Codeground />
	</main>
</Layout>