---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<Hero />
	<main>
		<article id="example">

		</article>
	</main>
</Layout>

<style>
</style>
