---

---
<header>
	<a href="https://slimeymc.github.io">SlimeyAr</a>
	<nav class="popup">
        <a href="#example">example</a>
        <a href="#palette">palette</a>
        <a href="#specification">specification</a>
        <a href="#implementation">implementation</a>
    </nav>
    <a href="https://slimeymc.github.io">Repo</a>
</header>

<style>
	header {
		position: fixed;
		right: 1em;
		left: 1em;
		display: flex;
		z-index: 999;
		justify-content: space-between;
		align-items: center;
	}

	header > nav {
		display: flex;
		gap: 2em;
		background-color: var(--frosting-white);
		margin: 0.5em;
		padding: 1em;
		border-radius: 1em;
	}
</style>