@font-face {
    font-family: "Argon";
    font-size: 13px;
    src: url(../public/argon.ttf);
}

@font-face {
    font-family: "Radon";
    font-size: 13px;
    src: url(../public/radon.ttf);
}

@font-face {
    font-family: "Xenon";
    font-size: 13px;
    src: url(../public/xenon.ttf);
}

/* Maybe move this to seperate file for each theme */
@property --truffle-black {
    syntax: "<color>";
    inherits: false;
    initial-value: #28282e;
}

@property --plum-purple {
    syntax: "<color>";
    inherits: false;
    initial-value: #6c5671;
}

@property --almond-beige {
    syntax: "<color>";
    inherits: false;
    initial-value: #d9c8bf;
}

@property --milk-cream {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffe6c6;
}

@property --frosting-white {
    syntax: "<color>";
    inherits: false;
    initial-value: #fff7e4;
}

@property --honey-yellow {
    syntax: "<color>";
    inherits: false;
    initial-value: #fff7a0;
}

@property --mango-orange {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffc384;
}

@property --cocoa-brown {
    syntax: "<color>";
    inherits: false;
    initial-value: #dea38b;
}

@property --sherbet-lime {
    syntax: "<color>";
    inherits: false;
    initial-value: #e9f59d;
}

@property --matcha-green {
    syntax: "<color>";
    inherits: false;
    initial-value: #b0eb93;
}

@property --minty-blue {
    syntax: "<color>";
    inherits: false;
    initial-value: #87a889;
}

@property --bubblegum-pink {
    syntax: "<color>";
    inherits: false;
    initial-value: #feaae4;
}

@property --coconut-aqua {
    syntax: "<color>";
    inherits: false;
    initial-value: #b3e3da;
}

@property --glacier-capri {
    syntax: "<color>";
    inherits: false;
    initial-value: #accce4;
}

@property --frost-lavender {
    syntax: "<color>";
    inherits: false;
    initial-value: #b0a9e4;
}

@property --berry-red {
    syntax: "<color>";
    inherits: false;
    initial-value: #f98284;
}

body {
    background-color: var(--milk-cream);
    font-family: "Inter", sans-serif;
}

header {
    position: fixed;
    right: 1em;
    left: 1em;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
}

header > nav {
    display: flex;
    gap: 2em;
    background-color: var(--frosting-white);
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
}

a {
}

h1 {
    font-family: "Shantell Sans", cursive;
    font-weight: 800;
    font-size: 4em;
    line-height: 0.1em;
    font-style: normal;
    font-variation-settings:
            "BNCE" 100,
            "INFM" 100,
            "SPAC" 0;
    margin-top: 1.2em;
    text-align: center;
}

.popup {
    box-shadow:
            inset 0px 0px 2px 2px rgba(0, 0, 0, 0.09),
            inset 0px -8px 2px 2px rgba(0, 0, 0, 0.07),
            0px 2px 3px 0px rgba(0, 0, 0, 0.05);
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrappable {
    display: flex;
    flex-wrap: wrap;
}

.codeground {
    padding: 1em;
    background-color: var(--frosting-white);
    line-height: 0.7em;
    font-family: Argon;
    border-radius: 1em;
}

/* body {
    font-family: Argon;
} */

.codeground > h1 {
    text-align: left;
    margin-top: 0.3em;
}


.codeground > hr {
    border-top: 1px solid var(--truffle-black);
    margin: -.5em;
}

.hero {
    display: grid;
    place-content: center;
    place-items: center;
    height: 90svh;
}

.hero > h1 {
    font-size: 10em;
    line-height: 0;
    margin: .3em;
    transform: skewY(-7deg);
    text-shadow: 2px 2px 0 var(--truffle-black);
    
    counter-reset: delay;
}

.hero > h1 > span:first-child {
    font-size: 1.5em;
}

.hero > h1 > span {
    animation: moving-text-color 10s alternate infinite step-end;
    transition: 1s;
    padding: 0;
    transform: translate(0);
    animation-delay: calc(var(--delay) * -1s);
    
    counter-increment: delay;
}

.hero > h1:hover > span {
    font-size: 0.9em;
}

.hero>h1:hover>span:hover{
    padding: 0.1em;
    font-size: 1.3em;
}

.hero>h1:hover>span:hover+*, .hero>h1:hover>span:has(+ :hover) {
    padding: 0.075em;
    
}

.hero > h1:hover > span:not(:hover) {
    --default-color: var(--frosting-white);
}


@keyframes moving-text-color {
    0% {
        color: var(--default-color, var(--honey-yellow));
    }
    11% {
        color: var(--default-color, var(--mango-orange));
    }
    22% {
        color: var(--default-color, var(--cocoa-brown));
    }
    33% {
        color: var(--default-color, var(--minty-blue));
    }
    44% {
        color: var(--default-color, var(--matcha-green));
    }
    55% {
        color: var(--default-color, var(--sherbet-lime));
    }
    66% {
        color: var(--default-color, var(--coconut-aqua));
    }
    77% {
        color: var(--default-color, var(--glacier-capri));
    }
    88% {
        color: var(--default-color, var(--frost-lavender));
    }
    100% {
        color: var(--default-color, var(--bubblegum-pink));
    }
}

.hero > h2 {
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--truffle-black);
    line-height: 0;
    z-index: 1;
    text-shadow: 
            .05em .05em 0 var(--milk-cream),
            -.05em .05em 0 var(--milk-cream),
            .05em -.05em 0 var(--milk-cream),
            -.05em -.05em 0 var(--milk-cream);
}

.hero > p {
    font-optical-sizing: auto;
    line-height: 0;
    color: var(--plum-purple);
    margin: -1em;
}

.palette {
    display: grid;
    place-self: center;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.palette-card {
    display: grid;
    width:80px;
    height: 80px;
    place-items: center;
    border: 0;
    border-radius: 2px;
    transition: 0.5s;
}

.palette-card > span {
    background: inherit;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1);
}

.palette-card:hover {
    transform: scale(1.2);
}

.palette:hover > .palette-card:not(:hover) > span {
    content: "";
}

.palette-card:focus {
    transform: scale(0.9);
}

.wrappable:has(> .specification-card) {
    justify-content: space-around;
}

.specification-card {
    display: contents;
}

.specification-card > summary {
    padding: 1em;
    margin: 1em 0.3em;
    user-select: none;
    transition: 0.5s;
    font-variation-settings: "slnt" 0;
}

:where(details.specification-card) > summary {
    list-style-type: disc;
    font-family: Argon;
}

.specification-card > summary:hover {
    transform: scale(1.1);
}

.specification-card[open] > summary {
    letter-spacing: 0.05em;
    font-style: oblique;
    font-variation-settings: "slnt" -11;
}

.specification-card > span {
    overflow: hidden;
    align-content: center;
    white-space: nowrap;
}




.truffle-black {
    background-color: var(--truffle-black);
}

.plum-purple {
    background-color: var(--plum-purple);
}

.almond-beige {
    background-color: var(--almond-beige);
}

.berry-red {
    background-color: var(--berry-red);
}

.frost-lavender {
    background-color: var(--frost-lavender);
}

.glacier-capri {
    background-color: var(--glacier-capri);
}

.coconut-aqua {
    background-color: var(--coconut-aqua);
}

.bubblegum-pink {
    background-color: var(--bubblegum-pink);
}

.minty-blue {
    background-color: var(--minty-blue);
}

.matcha-green {
    background-color: var(--matcha-green);
}

.sherbet-lime {
    background-color: var(--sherbet-lime);
}

.milk-cream {
    background-color: var(--milk-cream);
}

.cocoa-brown {
    background-color: var(--cocoa-brown);
}

.mango-orange {
    background-color: var(--mango-orange);
}

.honey-yellow {
    background-color: var(--honey-yellow);
}

.frosting-white {
    background-color: var(--frosting-white);
}




.indent {
    padding-left: 1.5em;
}

.token {
    padding: 2px;
    margin: -2px;
}

.keyword {
    background: var(--bubblegum-pink);
    color: var(--plum-purple);
    border-radius: 4px;
}

.class {
    background: var(--mango-orange);
    color: var(--frosting-white);
    font-style: italic;
    border-radius: 8px 4px 8px 4px;
}

.interface {
    background: var(--mango-orange);
    color: var(--plum-purple);
    font-style: italic;
    border-radius: 8px 4px 8px 4px;
}

.enum {
    background: var(--honey-yellow);
    color: var(--plum-purple);
    border-radius: 4px;
}

.enum-entry {
    background: var(--cocoa-brown);
    color: var(--frosting-white);
    border-radius: 4px;
}

.func-decl {
    background: var(--sherbet-lime);
    color: var(--plum-purple);
    font-weight: 800;
    border-radius: 4px;
}

.param {
    background: var(--cocoa-brown);
    color: var(--truffle-black);
    border-radius: 4px;
}

.generic-param {
    background: var(--frost-lavender);
    color: var(--truffle-black);
    border-radius: 4px;
}

.builtin-call {
    background: var(--glacier-capri);
    color: var(--frosting-white);
    font-weight: 800;
    border-radius: 4px;
}

.func-call {
    background: var(--sherbet-lime);
    color: var(--plum-purple);
    border-radius: 4px;
}

.static-call {
    background: var(--honey-yellow);
    color: var(--plum-purple);
    font-weight: 800;
    border-radius: 4px;
}

.literal {
    background: var(--frost-lavender);
    color: var(--frosting-white);
    border-radius: 4px;
}

.annotation {
    background: var(--minty-blue);
    color: var(--truffle-black);
    border-radius: 4px;
}

.annotation-attribute {
    color: var(--bubblegum-pink);
}

.string {
    background: var(--matcha-green);
    color: var(--plum-purple);
    border-radius: 4px;
}

.string > .escape {
    color: var(--minty-blue);
    /* text-shadow: 0 0 0.25em var(--truffle-black); */
    /* text-shadow: 1px 1px 0 var(--plum-purple),
            -1px -1px 0 var(--plum-purple),
            1px -1px 0 var(--plum-purple),
            -1px 1px 0 var(--plum-purple),
            0px 1px 0 var(--plum-purple),
            1px 0px 0 var(--plum-purple),
            0px -1px 0 var(--plum-purple),
            -1px 0px 0 var(--plum-purple); */
}

.string > .template {
    background-color: var(--cocoa-brown);
    border-radius: 4px;
}

details.doc-comment {
    font-family: Xenon;
    color: var(--truffle-black);
    background-color: var(--frosting-white);
    margin: -4px;
    padding: 4px;
    border-radius: 12px;
    box-shadow: 
            inset 0px 0px 2px 2px rgba(0, 0, 0, 0.09),
            inset 0px -2px 2px 2px rgba(0, 0, 0, 0.07),
            0px 2px 3px 0px rgba(0, 0, 0, 0.05);
}

details.doc-comment[open] {
    box-shadow:
        inset 0px 0px 2px 2px rgba(0, 0, 0, 0.09),
        inset 0px -8px 2px 2px rgba(0, 0, 0, 0.07),
        0px 2px 3px 0px rgba(0, 0, 0, 0.05);
}

/* details.doc-comment[open] > summary {
    display: none;
} */

.doc-comment.doc-link {
    color: var(--frost-lavender);
    font-style: italic;
}

.doc-comment.doc-tag {
    color: var(--bubblegum-pink);
    font-style: italic;
}

.comment {
    font-family: Radon;
    background: var(--plum-purple);
    color: var(--frosting-white);
    padding: 2px;
    border-radius: 12px 4px 12px 4px;
}